<h1>Editing Book</h1>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
<div class = 'field'>
  <%= f.label :Title %>
</div>
  <%= f.text_field :title %>
<div class = 'field'>
  <%= f.label :Body %>
</div>
  <%= f.text_area :body %>
  <br>
  <div>
  <%= f.submit 'Update Book' %>
  <br>
  <%= link_to "Show", book_path(@book.id) %>

  <%= link_to "Back", "/books" %>
  </div>
<% end %>
